<!doctype html>
<html>

<head>
    <title>Public Chat</title>
    <link rel="icon" href="/storage/theme/img/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/storage/theme/css/main.css">
    <link rel="stylesheet" type="text/css" href="/storage/theme/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    
</head>

<body class="horizontal-navigation">

    <header class="site-header">
        <div class="container-fluid">
            <a href="/" class="site-logo">
              Home
          </a>
        </div>
    </header>
    
    <div class="mobile-menu-left-overlay"></div>
    <div class="page-content">
        <div class="container-fluid">
            <div class="box-typical chat-container">
                <section class="chat-area">
                    <div class="chat-area-public">
                        <div class="chat-area-header">
                            <header class="box-typical-header">
                                <div class="tbl-row">
                                    <div class="tbl-cell tbl-cell-title">
                                        <h3>Public Chat</h3>
                                    </div>
                                </div>
                            </header>
                        </div>
                        <div class="chat-dialog-area scrollable-block">
                            <div class="messenger-dialog-area" id="messages_list">
                            </div>
                        </div>
                        <div class="chat-area-bottom">
                            <div class="write-message">
                                <div class="smiley_txt_popup" style="display: none;">
                                <table>
                                    <tr>
                                        <td class=":)"><img src='/storage/theme/img/smiley/slightly-smiling-face_1f642.png' class='smiley_txt'></img></td>
                                        <td class=":("><img src='/storage/theme/img/smiley/slightly-frowning-face_1f641.png' class='smiley_txt'></img></td>
                                        <td class=":P"><img src='/storage/theme/img/smiley/face-with-stuck-out-tongue-and-tightly-closed-eyes_1f61d.png' class='smiley_txt'></img></td>
                                        <td class=":D"><img src='/storage/theme/img/smiley/grinning-face-with-smiling-eyes_1f601.png' class='smiley_txt'></img></td>
                                        <td class=":O"><img src='/storage/theme/img/smiley/face-with-open-mouth_1f62e.png' class='smiley_txt'></img></td>
                                        <td class=";)"><img src='/storage/theme/img/smiley/winking-face_1f609.png' class='smiley_txt'></img></td>
                                    </tr>
                                    <tr>
                                        <td class="B-)"><img src='/storage/theme/img/smiley/smiling-face-with-sunglasses_1f60e.png' class='smiley_txt'></img></td>
                                        <td class=">:("><img src='/storage/theme/img/smiley/persevering-face_1f623.png' class='smiley_txt'></img></td>
                                        <td class=":l"><img src='/storage/theme/img/smiley/pouting-face_1f621.png' class='smiley_txt'></img></td>
                                        <td class=":'("><img src='/storage/theme/img/smiley/crying-face_1f622.png' class='smiley_txt'></img></td>
                                        <td class="3:)"><img src='/storage/theme/img/smiley/smiling-face-with-horns_1f608.png' class='smiley_txt'></img></td>
                                        <td class=":*"><img src='/storage/theme/img/smiley/kissing-face-with-smiling-eyes_1f619.png' class='smiley_txt'></img></td>
                                    </tr>
                                    <tr>
                                        <td class="<3"><img src='/storage/theme/img/smiley/black-heart-suit_2665.png' class='smiley_txt'></img></td>
                                        <td class="^_^"><img src='/storage/theme/img/smiley/smiling-face-with-smiling-eyes_1f60a.png' class='smiley_txt'></img></td>
                                        <td class="-_-"><img src='/storage/theme/img/smiley/neutral-face_1f610.png' class='smiley_txt'></img></td>
                                        <td class=">:O"><img src='/storage/theme/img/smiley/persevering-face_1f623.png' class='smiley_txt'></img></td>
                                        <td class="(y)"><img src='/storage/theme/img/smiley/thumbs-up-sign_emoji-modifier-fitzpatrick-type-1-2_1f44d-1f3fb_1f3fb.png' class='smiley_txt'></img></td>
                                        <td class=":poop:"><img src='/storage/theme/img/smiley/pile-of-poo_1f4a9.png' class='smiley_txt'></img></td>
                                    </tr>

                                </table>
                                </div>
                                <div class="avatar" id="smiley_selector">
                                    <img src="/storage/theme/img/smile.png" alt="Smiley Selector">
                                </div>
                                <form id="image_picker">
                                    <div class="attachment" id="attachment_selector">
                                        
                                        <label for="file_input">
                                            <img src="/storage/theme/img/attachment.png" alt="Image Attachment" alt="Image Attachment"/>
                                        </label>
                                        <input id="file_input" type="file" accept="image/x-png,image/gif,image/jpeg"/>
                                    </div>
                                </form>
                                
                                <form id="messagebox">
                                    <div class="form-group">
                                        <textarea rows="2" id="m" class="form-control" placeholder="Type a message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-rounded float-left">Send</button>
                                    <button type="reset" class="btn btn-rounded btn-default float-left">Clear</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="cover" style="display: none;"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/bootstrap-sweetalert/dist/sweetalert.js"></script>
    <script src="/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>

    <script>
    $(function() {
        
        // Submit form on enter key, new line on ctrl+enter
        $('#m').keydown(function(e) {
            if (e.ctrlKey && e.keyCode == 13) {
                $(this).val(function(i, val) {
                    return val + "\n";
                });
            } else if (e.keyCode == 13) {
                $('form').submit();
                return false;
            } else {}
        });

        // Onload focus on textbox
        $("#m").focus(function() {
            // Hide smiley selector on text area select
            $(".smiley_txt_popup").slideUp('slow');
        });

        var socket = io();
        var username = '';

        // Onload ask for name
        swal({
            title: "Please write your name!",
            text: "",
            type: "input",
            closeOnConfirm: false,
            inputPlaceholder: "Write your name here"
        }, function(inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("Please write your name!");
                return false;
            }

            if (inputValue != '') {
                username = inputValue;
                swal("Welcome!", inputValue, "success");
                return false;
            }

        });

        // Text message from sender
        $('#messagebox').submit(function() {

            var postted_msg = $('#m').val();

            if (username == '') {

                // Popup for name if name not taken onload
                swal({
                    title: "Please write your name!",
                    text: "",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    inputPlaceholder: "Write your name here"
                }, function(inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("Please write your name!");
                        return false;
                    }

                    if (inputValue != '') {
                        username = inputValue;
                        swal("Welcome!", inputValue, "success");

                        if (postted_msg.trim() != "") {
                            socket.emit('chat message', username, postted_msg);
                            $('#m').val('');
                        }
                        return false;
                    }

                });

                return false;
            } else {

                if (postted_msg.trim() != "") {
                    socket.emit('chat message', username, postted_msg);
                    $('#m').val('');
                    $("#m").focus();
                    $(".scrollable-block").animate({
                        scrollTop: $('.scrollable-block').prop("scrollHeight")
                    }, 100);
                }

                return false;
            }

        });

        // Text message to all recevers
        // socket.on('chat message', function(user, msg) {
        //     if (msg != '') {
        //         posted_time = '';
        //         $('#messages_list').append('<div class="messenger-message-container"><div class="avatar"><img src="/storage/theme/img/avatar-1-64.png"></div><div class="messages"><ul><li><div class="message"><div class="txt"><pre><b>  ' + user + '</b><br><div>' + msg + '</div></pre></div></div><div class="time-ago">' + posted_time + '</div></li></ul></div></div>');

        //         $(".scrollable-block").animate({
        //             scrollTop: $('.scrollable-block').prop("scrollHeight")
        //         }, 100);
        //     }
        // });
        socket.on('chat message', function(user, msg, posted_time) {
            if (msg != '') {

                $('#messages_list').append('<div class="messenger-message-container"><div class="avatar"><img src="/storage/theme/img/avatar-1-64.png"></div><div class="messages"><ul><li><div class="message"><div class="txt"><pre><b>  ' + user + '</b><br><div>' + msg + '</div></pre></div></div><div class="time-ago">' + posted_time + '</div></li></ul></div></div>');

                $(".scrollable-block").animate({
                    scrollTop: $('.scrollable-block').prop("scrollHeight")
                }, 100);
            }
        });


        // Image from sender
        $('#image_picker').submit(function() {
            return false;
        });  

        $('input[type="file"]').change(function(e){
            
            if (username == '') {

                // Popup for name if name not taken onload
                swal({
                    title: "Please write your name!",
                    text: "",
                    type: "input",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    inputPlaceholder: "Write your name here"
                }, function(inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("Please write your name!");
                        return false;
                    }

                    if (inputValue != '') {
                        username = inputValue;
                        swal("Welcome!", inputValue, "success");
                        
                        var fileName = e.target.files[0];
            
                        if(fileName.type.toLowerCase() == 'image/png' || fileName.type.toLowerCase() == 'image/jpg' || fileName.type.toLowerCase() == 'image/jpeg'){

                            socket.emit('uploaded_image', username, fileName);

                        } else {
                            alert("Please select only images.");
                        }

                        return false;
                    }

                });

                return false;
            } else {

                var fileName = e.target.files[0];
                
                if(fileName.type.toLowerCase() == 'image/png' || fileName.type.toLowerCase() == 'image/jpg' || fileName.type.toLowerCase() == 'image/jpeg'){
                    
                    socket.emit('uploaded_image', username, fileName,fileName.type.toLowerCase());

                } else {
                    alert("Please select only images.");
                }

                return false;
            }

        });

        // Image to all receivers
        socket.on("uploaded_image", function(user, info, posted_time) {

          $('#messages_list').append('<div class="messenger-message-container"><div class="avatar"><img src="/storage/theme/img/avatar-1-64.png"></div><div class="messages"><ul><li><div class="message"><div class="image"><pre><b>  ' + user + '</b></pre><br><center><a href="'+info.buffer+'" data-fancybox="images" class="image_link"><img src="'+info.buffer+'" height="120"></a></center></div></div><div class="time-ago">' + posted_time + '<br><center><i class="fa fa-arrow-circle-down download" aria-hidden="true" title="Download Image"></i></center></div></li></ul></div></div>');

            $(".scrollable-block").animate({
                scrollTop: $('.scrollable-block').prop("scrollHeight")
            }, 100);

        });

        $(document).on('click', '.download', function () {
            var image_to_download = $(this).parent().parent().parent().find('.message').find('a.image_link').attr('href');
            
            var link = document.createElement('a');
            link.href = image_to_download;
            link.target = '_blank';

            if(image_to_download.indexOf("image/png") != '-1'){
                link.download = Math.random().toString(36).slice(2)+'.png';
                link.click();
            } else if (image_to_download.indexOf("image/jpg") != '-1'){
                link.download = Math.random().toString(36).slice(2)+'.jpg';
                link.click();
            } else if (image_to_download.indexOf("image/jpeg") != '-1'){
                link.download = Math.random().toString(36).slice(2)+'.jpeg';
                link.click();
            } else {
                alert('File format not supported to download');
            }
        
        });

        // Smiley Selector

        $('#smiley_selector').hover(function (){
          $(".smiley_txt_popup").slideDown('slow');  
        });

        $('.smiley_txt_popup').hover(function (){},
        function () {
          $(".smiley_txt_popup").slideUp('slow');
        });

        $('.smiley_txt_popup td').click(function (){
          $('#m').val($('#m').val() + ' '+$(this).attr("class")+' ');
        });

        $('#attachment_selector').click(function (){
          // Hide smiley selector on attachment click
          $(".smiley_txt_popup").slideUp('slow');
        });

        $('.chat-dialog-area').click(function (){
          // Hide smiley selector on message area click
          $(".smiley_txt_popup").slideUp('slow');
        });

    });

    </script>
</body>

</html>
